<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h1 class="h2 text-center my-3">Minhas Notas</h1>

      <table class="table">
        <thead class="bg-custom">
          <tr>
            <th>Disciplina</th>
            <th>Nota da P1</th>
            <th>Nota da P2</th>
            <th>Média</th>
          </tr>
        </thead>
        <tbody class="bg-light text-dark">
          <tr *ngFor="let item of this.disciplinas.getDisciplina(); index as i">
            <td>{{item.nome}}</td>
            <td>
              <div class="input-group my-3">
                <input class="form-control" type="number" #p1 value="{{item.p1}}" min="0" max="10">
                <button class="input-group-text" (click)="this.disciplinas.atualizarNota1(i,p1.value);">Editar</button>
              </div>
            </td>
            <td>
              <div class="input-group my-3">
                <input class="form-control" type="number" #p2 value="{{item.p2}}" min="0" max="10">
                <button class="input-group-text" (click)="this.disciplinas.atualizarNota2(i,p2.value);">Editar</button>
              </div>
            </td>
            <td>
              <span class="badge bg-info" *ngIf="this.disciplinas.getMedia(i) >= 6.00;">{{this.disciplinas.getMedia(i).toFixed(2)}}</span>
              <span class="badge bg-danger" *ngIf="this.disciplinas.getMedia(i) < 6.00">{{this.disciplinas.getMedia(i).toFixed(2)}}</span>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>