<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h1 class="text-center h2 my-3">Minhas Disciplinas</h1>
      <div class="row">
        <div class="col-md-7 bg-border">
          <fieldset>
            <legend class="text-center">Adicionar Disciplina</legend>
            <div>
              <div class="input-group my-3">
                <span class="input-group-text">Disciplina</span>
                <input type="text" class="form-control" #nome />
              </div>

              <div class="input-group my-3">
                <span class="input-group-text">Horário</span>
                <input type="time" class="form-control" #horario />
              </div>

              <div class="input-group my-3">
                <span class="input-group-text">Dia da Semana</span>
                <select class="form-control" #dia>
                  <option value="Segunda-feira">Segunda-feira</option>
                  <option value="Terça-feira">Terça-feira</option>
                  <option value="Quarta-feira">Quarta-feira</option>
                  <option value="Quinta-feira">Quinta-feira</option>
                  <option value="Sexta-feira">Sexta-feira</option>
                  <option value="Sábado">Sábado</option>
                </select>
              </div>
            </div>

            <div class="d-grid col-8 mx-auto">
              <button
                class="btn btn-success"
                (click)="
                  disciplinas.adicionarDisciplina(
                    nome.value,
                    horario.value,
                    dia.value
                  );
                  nome.value = '';
                  horario.value = '';
                  dia.selectedIndex = 0
                "
              >
                Adicionar
              </button>
            </div>
          </fieldset>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header bg-custom">
              <h1 class="h5 text-center text-dark">Disciplinas Cursadas</h1>
            </div>
            <div class="card-body text-dark bg-drey">
              <ul>
                <li
                  *ngFor="let item of disciplinas.getDisciplina(); index as i"
                >
                  {{ item.nome }} : {{ item.dia }} às {{ item.horario }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
