<nav class="navbar navbar-expand-lg navbar-light bg-custom">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Minhas Disciplinas</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/']"
            [routerLinkActive]="['active']"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/disciplinas']"
            [routerLinkActive]="['active']"
            >Disciplinas</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/notas']"
            [routerLinkActive]="['active']"
            >Notas</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
