td,
th {
  vertical-align: middle;
  text-align: center;
}

body {
  background-color: #14213d;
  color: #ffffff;
}

.bg-custom {
  background-color: #fca311;
}
.bg-grey {
  background-color: #e5e5e5;
}
ul {
  list-style-type: square;
}

.bg-border {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 15px;
}
