<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h1 class="text-center my-3">Saudações, estudante!</h1>

      <div class="card">
        <div class="card-header bg-grey">
          <small class="h5 text-dark">Informações do Estudante</small>
        </div>
        <div class="card-body text-dark">

          <p><span class="badge bg-danger mx-1">Nome</span> Pedro Luiz Souza Salvino</p>
          <p><span class="badge bg-info mx-1">RA</span> 0050831921022</p>
          <p><span class="badge bg-custom mx-1">Github</span> <a href="https://github.com/PedroSalvino">PedroSalvino
            </a></p>

        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-10 mx-auto">
      <h2 class="text-center my-3">Horário</h2>
      <table class="table table-striped">
        <thead class="bg-custom">
          <tr>
            <th>Horário</th>
            <th>Disciplina</th>
            <th>Dia da Semana</th>
          </tr>
        </thead>
        <tbody class="bg-grey">
          <tr *ngFor="let item of this.disciplinas.getDisciplina();index as i">
            <td>{{item.horario}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.dia}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>